.container{
  text-align: center;

  .title{
    font-size: 40px;
  }
  .form{
    form{
      display: flex;
      flex-direction: column;

      input{
        padding: 20px;
        border: 1px solid black;
      }
    }
  }
}
