<div class="container">
  <div class="title">
    <h2>Love Calculator</h2>
  </div>
  <div class="form">
    <form [formGroup]="loveForm" (ngSubmit)="onSubmit()">
      <input type="text" formControlName="firstPerson" [value]="firstPerson">
      <input type="text" formControlName="secondPerson" [value]="secondPerson">
      <input type="submit">
    </form>
  </div>
  <p *ngIf="isShow">Lubna and Fahim's love has a <strong style="color: red"> {{percent}}% </strong> chance of coming true.</p>
</div>
